In [1]:
import os
import shutil
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\SABYA\\Aritar01\\CAP_106\\CAP_106_Research_Env'

In [3]:
# read the data
df = pd.read_excel("C:/Users/SABYA/Aritar01/CAP_106/Processed_Data/cap_106_processed_data.xlsx")

In [5]:
# count the run length hours in each Run
df_run_hours = pd.DataFrame(df.groupby('RunNo.').count()['RunDurationHours'])

In [6]:
# count number of days in each run
df_run_hours['RunDurationDays'] = (df_run_hours['RunDurationHours'] / 24)

In [7]:
# store this run duration days info in a dataframe
df_run_hours.to_excel("C:/Users/SABYA/Aritar01/CAP_106/CAP_106_Research_Env/EDA_Report/historic_run_days.xlsx", index=False)

In [11]:
# store the last RunDurationHours value from each runs
df_run_hours_last_value = pd.DataFrame(df.groupby("RunNo.").last()["RunDurationHours"])

        RunDurationHours
RunNo.
1                   70.0
2                   89.3
3                  100.6
4                   99.9
5                  101.6
6                   77.3
7                   79.7
8                   49.3
9                  100.7
10                  94.4
11                  67.0
12                  63.6
13                  32.7
14                  67.9
15                  59.8

In [12]:
# store the last RunDurationHours value from each runs in a dictionary
last_val_from_each_run_hours = dict()
for hrs in df_run_hours_last_value["RunDurationHours"]:
    last_val_from_each_run_hours[df_run_hours_last_value[df_run_hours_last_value["RunDurationHours"]==hrs].index.values[0]] = hrs

In [13]:
last_val_from_each_run_hours

{1: 70.0,
 2: 89.30000000000001,
 3: 100.6,
 4: 99.9,
 5: 101.6,
 6: 77.30000000000001,
 7: 79.7,
 8: 49.3,
 9: 100.7,
 10: 94.4,
 11: 67.0,
 12: 63.6,
 13: 32.7,
 14: 67.9,
 15: 59.8}

In [14]:
# introducing a relative run length column to the sample dataset
run_length_hours = []
for run_no, run_hours in zip(df["RunNo."], df["RunDurationHours"]):
    if run_no in df["RunNo."].unique().tolist():
        run_length_hours.append(last_val_from_each_run_hours[run_no] - run_hours)
# add this new relative run length column to the sample dataset
df["RelativeRunLength"] = run_length_hours

In [15]:
df

,Date,BFW Rate,DS Temp,Feed Temp1,Feed Temp2,RunDurationHours,RunNo.,Wall_Fuel_Gas_Flow,Ground_Fuel_Gas_Flow,O2,Total_Naphtha_Feed,Total_DS_Rate,Total_DS_Ratio,Avg_COT,Avg_CIT,Max_CIP,RelativeRunLength
0,2021-01-06 12:00:00,1.178144e-16,272.063493,56.937054,79.477049,0.0,1,0.229326,2.871640,3.460482,20.328890,22.765335,1.119851,799.052065,636.092415,1.032023,70.0
1,2021-01-06 13:00:00,1.178144e-16,267.207402,53.334087,82.662585,0.1,1,0.465309,3.615192,1.985904,34.814463,20.387922,0.585616,813.219097,607.738848,1.297556,69.9
2,2021-01-06 14:00:00,1.178144e-16,252.592778,52.641992,82.256563,0.2,1,0.522098,3.537484,2.039159,34.788479,19.799491,0.569139,815.159549,611.176134,1.227717,69.8
3,2021-01-06 15:00:00,1.178144e-16,253.567194,52.250743,82.205379,0.3,1,0.522105,3.609149,1.817531,36.790470,19.797455,0.538114,814.833182,603.644576,1.293669,69.7
4,2021-01-06 16:00:00,1.178144e-16,251.107256,51.066879,82.019186,0.4,1,0.522075,3.694331,1.615843,38.383156,19.921127,0.519007,814.705149,597.125078,1.181593,69.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11548,2022-05-02 16:00:00,1.057348e+00,232.965838,49.239505,51.584862,59.4,15,0.745289,4.336915,2.114046,34.921922,20.939064,0.599597,817.960936,639.801104,1.469659,0.4
11549,2022-05-02 17:00:00,1.378470e+01,232.283094,49.063456,51.495196,59.5,15,0.747182,4.321065,2.336833,34.930163,20.940725,0.599503,818.299786,640.889692,1.472635,0.3
11550,2022-05-02 18:00:00,1.380737e+01,231.988511,49.614569,51.453325,59.6,15,0.743222,4.326123,2.300841,35.170096,20.938667,0.595354,817.913417,638.380010,1.469588,0.2
11551,2022-05-02 19:00:00,1.384509e+01,232.458175,49.715542,51.378495,59.7,15,0.748198,4.342594,2.229080,35.429867,20.940745,0.591048,818.189503,637.892354,1.472233,0.1
11552,2022-05-02 20:00:00,1.116206e+01,231.643967,49.666705,51.235771,59.8,15,0.750541,4.365030,2.188632,35.727981,20.938069,0.586041,818.492450,637.592672,1.478791,0.0

In [ ]:
## How we can drop out highly correlated features in Python
def Snippet_127_Ex_2():
   
    print('**How to drop out highly correlated features in Python**\n')

    # loading libraries
    import pandas as pd
    import numpy as np
    from sklearn import datasets

    iris = datasets.load_iris()

    # Creating features and target
    X = iris.data
    y = iris.target
    
    # Converting feature matrix into DataFrame
    df = pd.DataFrame(X)

    # Viewing the data frame
    print(df.head())

    # Creating correlation matrix
    cor_matrix = df.corr().abs()
    print(); print(cor_matrix)

    # Selecting upper triangle of correlation matrix
    upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),
                                      k=1).astype(np.bool))
    print(); print(upper_tri)

    # Finding index of feature columns with correlation greater than 0.95
    to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.95)]
    print(); print(to_drop)

    # Droping Marked Features
    df1 = df.drop(df.columns[to_drop], axis=1)
    print(); print(df1.head())

Snippet_127_Ex_2()